# my.cnf: Managed by puppet

[client]
socket = /encrypted_data/mysql/data/mysql.sock

[mysqld]
basedir = /encrypted_data/mysql/xtradbcluster
binlog-checksum = CRC32
binlog_format = ROW
binlog_order_commits = 1
binlog_row_image = minimal
character_set_server = utf8
collation_server = utf8_general_ci
datadir = /encrypted_data/mysql/data
default_password_lifetime = 0
default_storage_engine = InnoDB
eq_range_index_dive_limit = 5000
expire_logs_days = 2
general_log_file = /encrypted_data/mysql/log/general_log.log
ignore-db-dir = 'lost+found'
init_connect = 'SET autocommit=0'
innodb_adaptive_hash_index = 0
innodb_autoinc_lock_mode = 2
innodb_buffer_pool_size = 18G
innodb_data_file_path = ibdata1:10M:autoextend
innodb_data_home_dir = /encrypted_data/mysql/innodb
innodb_flush_method = O_DIRECT
innodb_log_buffer_size = 128M
innodb_log_file_size = 10G
innodb_log_files_in_group = 2
innodb_log_group_home_dir = /encrypted_data/mysql/innodb
innodb_sort_buffer_size = 2097152
innodb_stats_on_metadata = 0
innodb_temp_data_file_path = ibtmp1:12M:autoextend:max:2048M
innodb_track_changed_pages = 1
innodb_undo_directory = /encrypted_data/mysql/undo
key_buffer_size = 402653184
log-error = /encrypted_data/mysql/log/mysqld.log
log_bin = /encrypted_data/mysql/binlog/mysql-bin.log
log_bin_index = /encrypted_data/mysql/binlog/mysql-bin
log_error_verbosity = 3
log_slave_updates = 1
log_timestamps = system
master-verify-checksum = 1
max_allowed_packet = 16M
max_connections = 4000
open_files_limit = 40000
optimizer_switch = 'derived_merge=off'
pid-file = /encrypted_data/mysql/data/mysqld.pid
port = 3306
pxc_strict_mode = PERMISSIVE
read_buffer_size = 2097152
read_rnd_buffer_size = 8388608
server_id = 3
skip_external_locking = 1
skip_name_resolve = 1
slow_query_log = false
slow_query_log_file = /encrypted_data/mysql/log/slow_log.log
socket = /encrypted_data/mysql/data/mysql.sock
sort_buffer_size = 2097152
sql_mode = STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION,NO_UNSIGNED_SUBTRACTION,REAL_AS_FLOAT,IGNORE_SPACE
symbolic-links = 0
sync_binlog = 1
table-definition-cache = 20000
table-open-cache-instances = 16
table_open_cache = 20000
thread_cache_size = 2000
thread_handling = pool-of-threads
tmpdir = /encrypted_data/mysql/tmp
transaction_isolation = READ-COMMITTED
user = mysql
wsrep_cluster_address = gcomm://a,b,c
wsrep_cluster_name = abcd
wsrep_log_conflicts = 1
wsrep_node_address = a.b.c.d
wsrep_node_name = abcd-node-3
wsrep_provider = /encrypted_data/mysql/xtradbcluster/lib/libgalera_smm.so
wsrep_provider_options = 'gcache.size=512M;evs.inactive_check_period=PT15S;evs.inactive_timeout=PT60S;evs.suspect_timeout=PT60S;gmcast.peer_timeout=PT60S'
wsrep_slave_threads = 8
wsrep_sst_auth = user@pwd
wsrep_sst_method = xtrabackup-v2

[xtrabackup]
target_dir = /encrypted_data/mysql/backup

